# Based on
# python-package.yml
# and
# https://medium.com/@wkrzywiec/how-to-write-good-quality-python-code-with-github-actions-2f635a2ab09a

name: Coverage

on:
  push:
    branches: [ master ]

jobs:
  codecov:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install pdm
        pdm python install ${{ matrix.python-version }}
        pdm install
    - name: Generate coverage report
      run: |
        pip install coverage
        source .venv/bin/activate
        coverage run --source=. -m runtests
        coverage xml
      working-directory: /home/runner/work/unpythonic/
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
